.welcome {
  padding: 0.5rem;
  border-top: thin solid var(--first-color);
  border-bottom: thin solid var(--first-color);
  background-color: var(--bg-color);
}

.home-container {
  display: block;
  height: 50rem;
  background-color: var(--gray-light-color);
  justify-content: space-between;
  align-content: center;
  padding-top: var(--header-height);
}

#input-apellido {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.estudiante {
  padding-top: 1rem;
  padding-bottom: 0.7rem;
}

.recupera {
  padding-top: 1rem;
}

.nota-tabla {
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  border-collapse: collapse;
}

.td-nf {
  background-color: var(--first-color);
}

.td-nf-a {
  background-color: var(--nf-aplazo-color);
}

td, th {
  border: var(--gray-dark-color) 0.5px solid;
  width: 0.25%;
}

.thead-dark {
  background-color: var(--gray-color);
}


.examen-box {
  display: flex;
  position: inherit;
  padding-top: 1.5rem;
  padding-bottom: 2rem;
  justify-content: space-around;
}

.descargas {
  display: block;
  background-color: var(--gray-light-color);
  justify-content: space-between;
  align-content: center;
}


@media screen and (min-width: 1024px) {
  .home {
    display: flex;
    flex-direction: row;
  }

  .real {
    height: 500px;
  }

  .parraph {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  #container-tabla{
    margin-left: 5rem;    
    margin-right: 5rem;
  }

  #comentarios-finales{
  margin-top: 1rem;
    margin-bottom: 0.2rem;
  }
}